<div class="modal-header">
    <h3 class="modal-title" id="modal-title">New Flight</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group" >
        <label for="code">Code</label>
        <input type="text" name="code" id="code" class="form-control" ng-model="code" required />
        <label for="carrier">Carrier</label>
        <input type="text" name="carrier" id="carrier" class="form-control" ng-model="carrier" required />
        <label for="dep_airport">Departing Airport</label>
        <input type="text" name="dep_airport" id="dep_airport" class="form-control" ng-model="dep_airport" required />
        <label for="dest_airport">Destination Airport</label>
        <input type="text" name="dest_airport" id="dest_airport" class="form-control" ng-model="dest_airport" required />
        <label>Days of Week</label>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="days_of_week.sunday" uib-btn-checkbox>Sunday</label>
            <label class="btn btn-primary" ng-model="days_of_week.monday" uib-btn-checkbox>Monday</label>
            <label class="btn btn-primary" ng-model="days_of_week.tuesday" uib-btn-checkbox>Tuesday</label>
            <label class="btn btn-primary" ng-model="days_of_week.wednesday" uib-btn-checkbox>Wednesday</label>
            <label class="btn btn-primary" ng-model="days_of_week.thursday" uib-btn-checkbox>Thursday</label>
            <label class="btn btn-primary" ng-model="days_of_week.friday" uib-btn-checkbox>Friday</label>
            <label class="btn btn-primary" ng-model="days_of_week.saturday" uib-btn-checkbox>Saturday</label>
        </div>
        <br/><br/>
        <label for="departure">Departure</label>
        <input type="time" id="departure" name="departure" ng-model="departure" placeholder="HH:mm" required />
        <label for="arrival">Arrival</label>
        <input type="time" id="arrival" name="arrival" ng-model="arrival" placeholder="HH:mm" required />
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Add</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>