<table class="table table-hover">
    <thead>
        <tr>
            <th>Flight </th>
            <th>Date </th>
            <th>Time </th>
            <th>Lane </th>
            <th>Controllers </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="a in arrivals_list" ng-click="">
            <td><span>{{ a.flight_code }}</span></td>
            <td><span>{{ a.date_time | date:'dd/MM/yyyy'}}</span></td>
            <td><span>{{ a.date_time | date:'HH:mm'}}</span></td>
            <td><span>{{ a.lane }}</span></td>
            <td><span>{{ a.controllers }}</span></td>
        </tr>
    </tbody>
</table>