
<div class="alert alert-success" ng-show="showArrivalCreated">
    <strong>Arrival successfully created!</strong>
</div>

<md-button class="md-raised md-secondary pull-right" ng-click="returnHome()">
    <md-icon md-svg-src="img/ic_keyboard_arrow_left_black_48px.svg"></md-icon> Back&nbsp; 
</md-button>
<md-button class="md-raised md-primary pull-right" ng-click="openNewDepartureModal()">
    <md-icon md-svg-src="img/ic_add_48px.svg"></md-icon> Departure&nbsp;  
</md-button>
<md-button class="md-raised md-primary pull-right" ng-click="openNewArrivalModal()">
    <md-icon md-svg-src="img/ic_add_48px.svg"></md-icon> Arrival&nbsp; 
</md-button>

<h2 class="md-display-1">Flight {{flight.code}}</h2>
<span class="created-at">Created at {{flight.created_at  | date:'dd/MM/yyyy HH:mm'}}</span>

<hr>

<b>Code:</b> {{flight.code}} <br />
<b>Carrier:</b> {{flight.carrier}} <br />
<b>Departing Airport:</b> {{flight.departing_airport}} <br />
<b>Destination Airport:</b> {{flight.destination_airport}} <br />
<b>Departure:</b> {{flight.departure | date:'HH:mm' }} <br />
<b>Arrival:</b> {{flight.arrival | date:'HH:mm'}} <br />
<b>Days:</b> <span class="days-table" ng-repeat="d in flight.days_of_week">{{ d }}</span> <br />

<hr>
<br>
<h4>Last week departures and arrivals</h4>
<br>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Type </th>
            <th>Date </th>
            <th>Time </th>
            <th>Lane </th>
            <th>Controllers </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="da in departures_arrivals" ng-click="">
            <td><span>{{ da.type }}</span></td>
            <td><span>{{ da.date_time | date:'dd/MM/yyyy'}}</span></td>
            <td><span>{{ da.date_time | date:'HH:mm'}}</span></td>
            <td><span>{{ da.lane }}</span></td>
            <td><span>{{ da.controllers }}</span></td>
        </tr>
    </tbody>
</table>