<div class="alert alert-success" ng-show="showFlightCreated">
    <strong>Flight successfully created!</strong>
</div>
<div class="alert alert-danger" ng-show="searchError">
    <strong>Flight not found!</strong>
</div>
<div class="options">
    <div class="input-group flight-search-box">
        <span class="input-group-addon" id="basic-addon1"><span class="lnr lnr-magnifier"></span></span>
        <input ng-model="flightCodeSearch" ng-keypress="findFlight($event)" type="text" class="form-control" placeholder="Flight Code" aria-describedby="basic-addon1">
    </div>
    <button type="button" class="btn btn-primary add-flight-btn" ng-click="openModal()"><span class="lnr lnr-plus-circle"></span> Add Flight</button>
</div>

<h1>Last Flights</h1>
<div class="last-flights-table">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Code </th>
                <th>Carrier </th>
                <th>Departing </th>
                <th>Destination </th>
                <th>Days of Week </th>
                <th>Departure Time </th>
                <th>Arrival Time </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-click="clickRow(p)" ng-repeat-start="f in flights">
                <td><span ng-bind="f.code"></span></td>
                <td><span ng-bind="f.carrier"></span></td>
                <td><span ng-bind="f.departing_airport"></span></td>
                <td><span ng-bind="f.destination_airport"></span></td>
                <td><span ng-bind="f.days_of_week[0]"></span></td>
                <td><span ng-bind="f.departure"></span></td>
                <td><span ng-bind="f.arrival"></span></td>
            </tr>
            <tr ng-repeat-end>
            </tr>
        </tbody>
    </table>
</div>