
<div class="alert alert-success" ng-show="showFlightCreated">
    <strong>Flight successfully created!</strong>
</div>
<div class="alert alert-danger" ng-show="searchError">
    <strong>Flight not found!</strong>
</div>

<div class="options">
    <div class="input-group flight-search-box">
        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>Flight code</label>
            <md-icon md-svg-src="img/ic_search_48px.svg" ng-click="findFlight()" class="name"></md-icon>
            <input ng-model="flightCodeSearch" ng-keypress="searchFlight($event)" type="text">
        </md-input-container>
    </div>

</div>

<h1 class="md-display-1">
    Last added flights
    <md-button class="md-fab md-primary md-mini add-flight" aria-label="Add flight" ng-click="openModal()">
        <md-icon md-svg-src="img/ic_add_48px.svg"></md-icon>
        <md-tooltip
              md-direction="bottom">
              Add Flight
        </md-tooltip>
    </md-button> 
</h1>


<div class="last-flights-table">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Code </th>
                <th>Carrier </th>
                <th>Departing </th>
                <th>Destination </th>
                <th>Days of Week </th>
                <th>Departure Time </th>
                <th>Arrival Time </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="f in flights" ng-click="findFlight(f.code)">
                <td><span>{{ f.code }}</span></td>
                <td><span>{{ f.carrier }}</span></td>
                <td><span>{{ f.departing_airport }}</span></td>
                <td><span>{{ f.destination_airport }}</span></td>
                <td><span class="days-table" ng-repeat="d in f.days_of_week">{{ d }} </span></td>
                <td><span>{{ f.departure | date:'HH:mm'}}</span></td>
                <td><span>{{ f.arrival | date:'HH:mm'}}</span></td>
            </tr>
        </tbody>
    </table>
</div>