.container{
        margin-top: 20px;
}
 .options{
        width: 100%;
} 
.add-flight{
        float: right;
}
.flight-search-box {
        width: 300px;
        float: left;
}

.add-flight-btn{
        float: right;
}

.options {
        overflow: auto;
}

.flight-info-container{
        min-height: 250px;
        clear: both;
}

.flight-info{
        display: inline-block;
}

#map_div{
        width: 400px;
        height: 250px;
        float: right;

}
.daysbtn{
        background-color: rgba(224,224,224,0.96) !important;
        margin: 1px !important;
        width: 70px !important;
        min-width: 70px !important;
}
.button-checked{
        background-color: rgb(0,150,136) !important;
        color: #FFFFFF !important;
}

.group-days{
        margin-top: 20px;
        text-align: center;
}

.modal-body{
        padding: 20px;
}

.days-table{
        background-color: rgba(224,224,224,0.96);
        padding: 5px;
        margin: 2px;
        font-size: 10px;
        line-height: 35px;
        border-radius: 5px;
}

input[type="text"]:focus, input[type="time"]:focus{
        box-shadow: none;
}

.created-at{
        font-style: italic;
        color: #909090;
}
.last-flights-table td{
            vertical-align: middle !important;
}